root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4

# Maker files
[Makefile]
indent_style = tab

# Yaml,Yml files
[*.{yaml,yml}]
charset = utf-8
indent_size = 2
tab_width = 2

# Js,Json files
[*.{js,json}]
charset = utf-8
indent_size = 2
tab_width = 2

# Script files
[*.{sh,bat}]
end_of_line = lf
insert_final_newline = true
